.idea/
.env
env
build
.installed.cfg
bin
develop-eggs
dist
eggs
parts
lib
lib64
*.py[cod]
*.swp
*.sqlite3
config.ini
.idea/
.vscode/
*.coverage
coverage.svg
*.DS_Store
.env
venv
uploads/users/avatars
uploads/projects/covers
uploads/projects/images
info