appdirs==1.4.3
beautifulsoup4==4.9.0
bootstrap4==0.1.0
distlib==0.3.0
Django==2.1
django-bootstrap4==1.1.1
django-braces==1.14.0
django-countries==6.1.2
django-mathfilters==1.0.0
django-model-utils==4.0.0
django-static-fontawesome==5.12.1.4
filelock==3.0.12
importlib-metadata==1.6.0
importlib-resources==1.4.0
mysqlclient==1.4.6
pytz==2019.3
selenium==3.141.0
six==1.14.0
soupsieve==2.0
swapper==1.1.2.post1
urllib3==1.25.9
virtualenv==20.0.16
zipp==3.1.0
