{% extends 'base.html' %}

{% block container %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-xs-9">
                <div class="card">
                    <div class="card-header">
                        Edit Project
                    </div>
                    <div class="card-body">
                        <form action="{% url 'update_project_url' project.id %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %} 
                            <div class="form-group">
                                <label for="title">Email address</label>
                                <input type="text" class="form-control" id="title" name="title" value={{ project.title }} required>
                            </div>
                            <div class="mb-3">
                                <label for="details">Details</label>
                                <textarea type="textarea" class="form-control" name="details" id="details" required>{{ project.details }}</textarea>
                            </div>
                            <div class="form-group">
                                <label for="target">Target</label>
                                <input type="text" class="form-control" id="target" name="target" value={{ project.target }} required>
                            </div>
                            <div class="form-group">
                                <label for="current">Current</label>
                                <input type="text" class="form-control" id="current" name="current" value={{ project.current }} required>
                            </div>
                    
                            <div class="form-group">
                                <label for="category">Category</label>
                                <select class="form-control" id="category" name="category" value={{ project.category_id }} required>
                                    {% for category in categories %}
                                        <option value={{ category.id }}>{{ category.name }}</option>
                                    {% endfor%}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="start_date">Start-Date</label>
                                <input type="date" class="form-control" id="start_date" name="start_date" value={{project.start_date|date:"Y-m-d" }} >
                            </div>
                            <div class="form-group">
                                <label for="end_date">End-Date</label>
                                <input type="date" class="form-control" id="end_date" name="end_date" value={{project.end_date|date:"Y-m-d" }} >
                            </div>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </form>        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
{% endblock %}