{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ "Home" }}
{% endblock %}
{% block links %}

{% endblock %}
{% block container %}

    <nav class="navbar navbar-expand-lg ">

        <div class="collapse navbar-collapse d-flex flex-row justify-content-end" id="navbarSupportedContent">
            <form class="form-inline my-2 my-lg-0 d-flex align-items-start">
                <div class="d-block">
                    <input class="form-control mr-sm-2 d-block" id="project_search" type="search"
                           placeholder="Search" aria-label="Search">
                    <div class="w-25 border" id="projects_list" style="position: absolute; z-index: 1; background-color: white;">

                    </div>
                </div>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="d-flex flex-column border m-3 p-4" id="categories_container">
        <div id="category_selector_container">
            <label class="my-1 mr-2 d-inline" for="cat_selector">Select By Category</label>
            <select class="custom-select form-control-sm  my-1 mr-sm-2 d-inline" style="width: 8rem;"
                    id="cat_selector">
                {% if  categories.curr_category == 0 %}
                    <option value="0" selected>All</option>
                {% else %}
                    <option value="0">All</option>
                {% endif %}
                {% for category in categories.categories %}
                    {% if category.id ==  categories.curr_category %}
                        <option value="{{ category.id }}" selected>{{ category.name }}</option>
                    {% else %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endif %}
                {% endfor %}

            </select>
        </div>
        <div class="pagination_categories">
            <div class="d-flex flex-row justify-content-between align-items-center w-100">
                <div>
                    {% if projects_by_category.page_obj.has_previous %}
                        <a href="?cat_id={{ categories.curr_category }}&page_cat={{ projects_by_category.page_obj.previous_page_number }}&page_lat_pro={{ latest_projects.page_obj.number }}&page_latest_featured_project={{ page_obj_latest_featured_projects.page_obj.number }}"><i
                                class="material-icons">arrow_back_ios</i></a>
                    {% endif %}
                </div>
                <div class="projects_by_category d-flex flex-row justify-content-between flex-wrap">
                    {% for project in projects_by_category.projects %}
                        <div class="card m-4 border rounded-5" style="width: 18rem;">

                            {#            <img class="card-img-top" src="..." alt="Card image cap">#}
                            <div class="card-body">
                                <h5 class="card-title"><b>{{ project.title }}</b></h5>
                                <p class="card-text text-truncate">{{ project.details }}</p>
                                <h6 class="card-subtitle mb-2"><b>Total Target:</b> {{ project.target }}</h6>
                                <h6 class="card-subtitle mb-2"><b>Current Target:</b> {{ project.current }}$</h6>
                                <a href="#" class="btn btn-primary btn-sm">More Details</a>
                                <button id="donate" class="btn btn-info btn-sm" data-toggle="modal"
                                        data-title="{{ project.title }}"
                                        data-project_id="{{ project.id }}"
                                        data-target-donation="{{ project.target }}"
                                        data-current-donation="{{ project.current }}"
                                        data-target="#donate-model" {% if project.target == project.current %}
                                    {{ "disabled" }} {% endif %}>Donate
                                </button>
                                <a href="{% url 'report_project' project.id %}">
                                    <button {% if project.is_reported %} {{ "disabled" }} {% endif %}
                                            class="btn btn-danger btn-sm">
                                        Report
                                    </button>
                                </a>
                            </div>
                        </div>
                    {% empty %}
                        <h3>No Projects</h3>
                    {% endfor %}
                </div>

                <div>
                    {% if projects_by_category.page_obj.has_next %}
                        <a href="?cat_id={{ categories.curr_category }}&page_cat={{ projects_by_category.page_obj.next_page_number }}&page_lat_pro={{ latest_projects.page_obj.number }}&page_latest_featured_project={{ page_obj_latest_featured_projects.page_obj.number }}"><i
                                class="material-icons">arrow_forward_ios</i></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    <div class="d-flex flex-column border m-3 p-4" id="latest_projects_container">
        {#        <div id="category_selector_container">#}
        <label class="my-1 mr-2 d-inline"><b>Latest Projects</b></label>
        {#        </div>#}

        <div class="d-flex flex-row justify-content-between align-items-center w-100">
            <div>
                {% if latest_projects.page_obj.has_previous %}
                    <a href="?cat_id={{ categories.curr_category }}&page_cat={{ projects_by_category.page_obj.number }}&page_lat_pro={{ latest_projects.page_obj.previous_page_number }}&page_latest_featured_project={{ page_obj_latest_featured_projects.page_obj.number }}"><i
                            class="material-icons">arrow_back_ios</i></a>
                {% endif %}
            </div>

            <div class="latest_projects d-flex flex-row justify-content-between flex-wrap">
                {% for project in latest_projects.projects %}
                    <div class="card m-4 border rounded-5" style="width: 18rem;">

                        {#            <img class="card-img-top" src="..." alt="Card image cap">#}
                        <div class="card-body">
                            <h5 class="card-title"><b>{{ project.title }}</b></h5>
                            <p class="card-text text-truncate">{{ project.details }}</p>
                            <h6 class="card-subtitle mb-2"><b>Total Target:</b> {{ project.target }}</h6>
                            <h6 class="card-subtitle mb-2"><b>Current Target:</b> {{ project.current }}$</h6>
                            <a href="#" class="btn btn-primary btn-sm">More Details</a>
                            <button id="donate" class="btn btn-info btn-sm" data-toggle="modal"
                                    data-title="{{ project.title }}"
                                    data-project_id="{{ project.id }}"
                                    data-target-donation="{{ project.target }}"
                                    data-current-donation="{{ project.current }}"
                                    data-target="#donate-model" {% if project.target == project.current %}
                                {{ "disabled" }} {% endif %}>Donate
                            </button>
                            <a href="{% url 'report_project' project.id %}">
                                <button {% if project.is_reported %} {{ "disabled" }} {% endif %}
                                        class="btn btn-danger btn-sm">
                                    Report
                                </button>
                            </a>
                        </div>
                    </div>
                {% empty %}
                    <h3>No Projects</h3>
                {% endfor %}
            </div>

            <div>
                {% if latest_projects.page_obj.has_next %}
                    <a href="?cat_id={{ categories.curr_category }}&page_cat={{ projects_by_category.page_obj.number }}&page_lat_pro={{ latest_projects.page_obj.next_page_number }}&page_latest_featured_project={{ page_obj_latest_featured_projects.page_obj.number }}"><i
                            class="material-icons">arrow_forward_ios</i></a>
                {% endif %}
            </div>
        </div>

    </div>





    <div class="d-flex flex-column border m-3 p-4" id="latest_featured_projects_container">
        {#        <div id="category_selector_container">#}
        <label class="my-1 mr-2 d-inline"><b>Latest Featured Projects</b></label>
        {#        </div>#}

        <div class="d-flex flex-row justify-content-between align-items-center w-100">
            <div>
                {% if page_obj_latest_featured_projects.page_obj.has_previous %}
                    <a href="?cat_id={{ categories.curr_category }}&page_cat={{ projects_by_category.page_obj.number }}&page_lat_pro={{ latest_projects.page_obj.number }}&page_latest_featured_project={{ page_obj_latest_featured_projects.page_obj.previous_page_number }}"><i
                            class="material-icons">arrow_back_ios</i></a>
                {% endif %}
            </div>

            <div class="latest_projects d-flex flex-row justify-content-between flex-wrap">
                {% for project in page_obj_latest_featured_projects.projects %}
                    <div class="card m-4 border rounded-5" style="width: 18rem;">

                        {#            <img class="card-img-top" src="..." alt="Card image cap">#}
                        <div class="card-body">
                            <h5 class="card-title"><b>{{ project.title }}</b></h5>
                            <p class="card-text text-truncate">{{ project.details }}</p>
                            <h6 class="card-subtitle mb-2"><b>Total Target:</b> {{ project.target }}</h6>
                            <h6 class="card-subtitle mb-2"><b>Current Target:</b> {{ project.current }}$</h6>
                            <a href="#" class="btn btn-primary btn-sm">More Details</a>
                            <button id="donate" class="btn btn-info btn-sm" data-toggle="modal"
                                    data-title="{{ project.title }}"
                                    data-project_id="{{ project.id }}"
                                    data-target-donation="{{ project.target }}"
                                    data-current-donation="{{ project.current }}"
                                    data-target="#donate-model" {% if project.target == project.current %}
                                {{ "disabled" }} {% endif %}>Donate
                            </button>
                            <a href="{% url 'report_project' project.id %}">
                                <button {% if project.is_reported %} {{ "disabled" }} {% endif %}
                                        class="btn btn-danger btn-sm">
                                    Report
                                </button>
                            </a>
                        </div>
                    </div>
                {% empty %}
                    <h3>No Projects</h3>
                {% endfor %}
            </div>

            <div>
                {% if page_obj_latest_featured_projects.page_obj.has_next %}
                    <a href="?cat_id={{ categories.curr_category }}&page_cat={{ projects_by_category.page_obj.number }}&page_lat_pro={{ latest_projects.page_obj.number }}&page_latest_featured_project={{ page_obj_latest_featured_projects.page_obj.next_page_number }}"><i
                            class="material-icons">arrow_forward_ios</i></a>
                {% endif %}
            </div>
        </div>

    </div>


    <div class="modal fade" id="donate-model"
         tabindex="-1" role="dialog"
         aria-labelledby="donateModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header mt-3 d-flex flex-row align-self-start">
                    <button type="button" class="close mr-1"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"
                        id="donateModalLabel"></h4>
                </div>
                <form method="post" action="{% url 'donate' %}">
                    {% csrf_token %}
                    <input name="project_id" id="project_id" hidden/>
                    <div class="modal-body">
                        <p>
                            Please confirm you would like to donate to
                            <b><span id="project-title"></span></b>
                            with <input id="donation-val" name="donation-val" type="number" class="w-25 d-inline"
                                        min="1" max="" value="1"/> $
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-default"
                                data-dismiss="modal">Close
                        </button>
                        <span class="pull-right">
                          <button type="submit" class="btn btn-success">
                            Donate
                          </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script src="{% static 'users/js/home.js' %}"></script>
    <script src="{% static 'users/js/donate.js' %}"></script>
    <script src="{% static 'users/js/search.js' %}"></script>
{% endblock %}