{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ "All Projects" }}
{% endblock %}
{% block links %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock %}
{% block container %}




    <div class="container d-flex flex-row flex-wrap">


        {% for project in projects %}

            <div class="card m-4 border rounded-5" style="width: 18rem;">

                {#            <img class="card-img-top" src="..." alt="Card image cap">#}
                <div class="card-body">
                    <h5 class="card-title"><b>{{ project.title }}</b></h5>
                    <p class="card-text text-truncate">{{ project.details }}</p>
                    <h6 class="card-subtitle mb-2"><b>Total Target:</b> {{ project.target }}</h6>
                    <h6 class="card-subtitle mb-2"><b>Current Target:</b> {{ project.current }}$</h6>
                    <a href="{{ project.id }}" class="btn btn-primary btn-sm">More Details</a>
                    <button id="donate" class="btn btn-info btn-sm" data-toggle="modal" data-title="{{ project.title }}"
                            data-project_id="{{ project.id }}"
                            data-target-donation="{{ project.target }}"
                            data-current-donation="{{ project.current }}"
                            data-target="#donate-model" {% if project.target == project.current %}
                        {{ "disabled" }} {% endif %}>Donate
                    </button>
                    <a href="{% url 'report_project' project.id %}">
                        <button {% if project.is_reported %} {{ "disabled" }} {% endif %} class="btn btn-danger btn-sm">
                            Report
                        </button>
                    </a>
                </div>
            </div>
        {% empty %}
            <h3>No Projects</h3>
        {% endfor %}


    </div>


    <div class="modal fade" id="donate-model"
         tabindex="-1" role="dialog"
         aria-labelledby="donateModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header mt-3 d-flex flex-row align-self-start">
                    <button type="button" class="close mr-1"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"
                        id="donateModalLabel"></h4>
                </div>
                <form method="post" action="{% url 'donate' %}">
                    {% csrf_token %}
                    <input name="project_id" id="project_id" hidden/>
                    <div class="modal-body">
                        <p>
                            Please confirm you would like to donate to
                            <b><span id="project-title"></span></b>
                            with <input id="donation-val" name="donation-val" type="number" class="w-25 d-inline"
                                        min="1" max="" value="1"/> $
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-default"
                                data-dismiss="modal">Close
                        </button>
                        <span class="pull-right">
                          <button type="submit" class="btn btn-success">
                            Donate
                          </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>




{% endblock %}

{% block scripts %}

    <script src="{% static 'users/js/donate.js' %}"></script>
{% endblock %}
