    #user_profile .cardElement {
        background-color: #fff;
        border: none;
        border-radius: 0px;
        border-bottom: solid 1px #d9d9d9
    }
    
    #user_profile .lastCardElement {
        background-color: #fff;
        border: none;
    }
    
    #user_profile h6 {
        font-size: small;
    }
    
    #user_profile img {
        width: 80px;
        height: 80pxP
    }
    
    #user_profile .title {
        color: #737373;
        text-align: left;
    }
    
    #user_profile p {
        text-align: left;
        color: #000;
        font-size: medium;
    }
    
    #user_profile .passBtn {
        color: #000;
        background-color: #fff;
        border: none;
    }
    
    #user_profile .cardElement:hover {
        background-color: #f2f2f2;
    }
    
    #user_profile .lastCardElement:hover {
        background-color: #f2f2f2;
    }
    
    #user_profile .lastCardElement:hover .passBtn {
        background-color: #f2f2f2;
    }
    
    #user_profile .operationCardItem:hover {
        background-color: #f2f2f2;
    }
    
    #user_profile .deleteBtn {
        background-color: #d84141;
        color: white;
        font-size: 20px;
        text-align: center;
    }

    .deleteDiv {
        margin-left: 23%;
    }
    